*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #1d2126;
    position: sticky;
    top: 0;
    z-index: 30;
}

.container{
    width: 100%;
    padding: 0 15px;
}

.header__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.col-xs-hidden{
    display: none;
}

.col-xs-12>nav{
    display: flex;
    justify-content: center;
}

.header__menu{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
    padding-bottom: 10px;
    align-items: center;
}

.header__menu>li{
    padding-left: 10px;
}

.header__menu>li:first-child{
    padding-left: 0;
}

.header__menu>li:first-child>a{
    border: 2px solid #39a493;
    color: #39a493;
}

.header__menu>li>a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(164, 174, 173);
    text-transform: uppercase;
    padding: 6px 10px;
    border: 2px solid transparent;
    border-radius: 4px;
    display: block;
    transition-duration: .5s;
}

.header__menu>li>a:hover{
    border: 2px solid #a4aead;
    color: #a4aead;
    transition-duration: .5s;
}

/* slider */
.slider{
    position: relative;
    background: url(img/bc-slide.png);
    background-size: cover;
    height: 660px;
    display: flex;
    align-items: center;
}

.slider__container{
    display: flex;
    align-items: center;    
}

.slider__row{
    flex: 0 0 100%;
    height: 100%;
}

.slider__info{
    position: relative;
    height: 100% ; 
    z-index: 20;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider__info h1{
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.slider__info h2{
    padding: 35px 0 45px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(204, 208, 215);
}

.slider__buttons button{
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .5s;
}

.slider__view-more{
    padding: 15px 30px 15px 22px;
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

.slider__view-more:hover{
    background-color: transparent;
    color: #23b7a4;
    transition-duration: .5s;
}

.slider__video-tour{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 28px 15px 20px;
    margin-left: 8px;
}

.slider__video-tour:hover{
    color: #23b7a4;
    background-color: #fff;
    transition-duration: .5s;
}

/* main */
/* about */
.about{
    padding: 0 0 100px;
    border-bottom: 1px solid #dde1e4;
}

.about__info{
    padding-bottom: 50px;
}

.title{
    font-size: 33px;
    font-family: 'Quattrocento Sans' , sans-serif;
    color: rgb(41, 47, 54);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    line-height: 39px;
    padding: 80px 0 60px;
}

.title::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    margin-right: 15px;
}

.about__subtitle{
    padding-bottom: 55px;
}

.about__subtitle p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(141, 143, 146);
}

.about__subtitle p:first-child{
    padding-bottom: 43px;
}

.about__links{
    display: flex;
    margin-left: -1px;
}

.about__links a{
    display: block;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-position: center;
}

.about__links a:hover{
    background-color: #d0d5d9;
}

.about__facebook {
    margin-left: 0;
    background: url(img/big-facebook.png);
    
}

.about__twitter{
    background: url(img/big-twitter.png);
}

.about__google{
    background: url(img/Google.png);
}

.about__basketball{
    background: url(img/Ball.png);
}

.about__behance{
    background: url(img/big-be.png);
}

.about__description{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.about__description:last-child{
    padding-bottom: 0;
}

.about__description-number{
    min-width: 50px;
    height: 50px;
    background-color: #23b7a4;
    text-align: center;
    line-height: 50px;
    color: white;
    margin-right: 20px;
}

.about__description-info h4{
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(41, 47, 54);
    font-weight: bold;
    text-transform: uppercase;
}

.about__description-info p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(141, 143, 146);
    line-height: 1.5;
}

/* team */
.team-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
}

.team-card__last-child{
    padding-bottom: 0;
}

.team-card__inner{
    display: flex;
    flex-direction: column;
}

.team__card-description, .team__card-description h5, .team-card__inner, .team__links{
    transition-duration: .5s;
}

.team-card__inner:hover .team__card-description{
    background-color: #3a454d;
    transition-duration: .5s;
}

.team-card__inner:hover .team__card-description h5{
    color: white;
    transition-duration: .5s;
}

.team-card__inner:hover img{
    opacity: 0.4;
    transition-duration: .5s;
}

.team-card__inner:hover .team__links{
    visibility: visible;
    opacity: 1;
    transition-duration: .5s;
}

.team__links{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: none;
    opacity: 0;
}

.team__links a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1px;
    transition-duration: .5s;
}

.team__links a:hover{
    background-color: #4e5a62;
    transition-duration: .5s;
}

.team__twitter-link{
    background-image: url(img/small-twitter.png);
    margin-left: 0;
}

.team__facebook-link{
    background-image: url(img/small-facebook.png);
}

.team__linkedin-link{
    background-image: url(img/In.png);
}

.team__card-description{
    background-color: #e1e6ea;
    padding: 20px;
}

.team__card-description h5:first-child{
    font-size: 16px;
    font-family: "Quattrocento Sans", sans-serif;
    color: rgb(41, 47, 54);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.team__card-description h5:last-child{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(141, 143, 146);
}

/* work */
.col-xs-12__pdb{
    padding-bottom: 30px;
    margin: 0 auto;
}

.work{
    background-color: #3a454d;
}

.work__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__title{
    color: white;
}

.work__card{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.work__card-inner{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
    max-width: 360px;
    transition-duration: .5s;
}

.work__card-inner:hover{
    cursor: pointer;
    background-color: black;
    transition-duration: .5s;
}

.work__card-inner:hover .work__bc-plus ,.work__card-inner:hover .work__card-description{
    visibility: visible;
    opacity: 1;
    transition-duration: .5s;
}
.work__card-inner:hover .work__img{
    opacity: .5;
    transition-duration: .5s;
}


.work__img{
    max-width: 290px;
    z-index: 20;
    transition-duration: .5s;
}

.work__bc-plus{
    max-width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    transition-duration: .5s;
    visibility: hidden;
    opacity: 0;
}

.work__card-description{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 18px;
    font-family: "Quattrocento Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 24px 0 24px 20px;
    background-color: #292f36;
    z-index: 20;
    max-width: 360px;
    transition-duration: .5s;
    visibility: hidden;
    opacity: 0;
}




/* tablet */
@media(min-width:768px){
    .container{
        max-width: 	720px;
        margin: 0 auto;
    }

    .row{
        margin: 0 -15px;
    }

    .header__menu{
        overflow-x: visible;
    }


    .title{
        font-size: 36px;
        line-height: 36px;
    }

    /* team */
    .row__team{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .team-card{
        padding-bottom: 50px;
    }

    .sm-pdb-clear{
        padding-bottom: 0;
    }

    /* work */
    .work__card-inner{
        max-width: 100%;
    }

    .work__img{
        max-width: 330px;
    }
    
}

/* laptop */
@media(min-width:992px){

    /* header */
    .container{
        max-width: 	960px;
    }

    .header__row{
        justify-content: space-between;
        padding: 25px 0;
    }

    .header__logo{
        justify-content: start;
        padding: 0;
        align-items: center;
    }

    .col-xs-hidden{
        display: block;
    }

    .col-md-2{
        flex: 0 0 16.664%;
        max-width: 16.664%;
    }
    
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4{
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-md-5{
        flex: 0 0 41.667%;
        max-width: 41.667%;
    }
    
    .col-md-7{
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }
    
    .col-md-8{
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }

    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    [class*="col-"]{
        padding: 0 15px;
    }

    .col-md-7>nav{
        justify-content: end;
    }

    .header__menu{
        padding: 0;
    }

    /* search */
    .col-md-2__flex{
        display: flex;
        justify-content: end;
    }

    .header__search-field{
        display: flex;
        justify-content: center;
        width: 180px;
        
    }

    .header__search-form{
        display: flex;
        width: 100%;
        margin: 0 -15px;
        justify-content: end;
        border: 2px solid #3c4147;
        border-radius: 4px;
    }

    .header__search-form input{
        background-color: transparent;
        border: none;
        height: 27px; 
        padding-left: 8px;
        color: #a4aead;
        width: 93px;
    }

    .header__search-form input::placeholder{
        color: #a4aead;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        
    }

    .header__search-form input:focus{
        outline: none;
    }
    
    .header__search-form button{
        display: block;
        width: 100%;
        background-image: url(img/search.png);
        background-repeat: no-repeat;
        background-color: #1d2126;
        background-position: right;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    /* about */
    .row__about{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* team */
    .team{
        padding-bottom: 100px;
    }
    
    .team-card{
        padding-bottom: 0;
    }

    .team-card__inner{
        max-width: 100%;
    }

    /* work */
    .work__img{
        max-width: 100%;
    }
    
}

/* desktop */
@media(min-width:1200px){

    .container{
        max-width: 	1140px;
    }

    .col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-lg-7{
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }

    .header__search-form input{
        width: 140px;
    }
}