*{
    box-sizing: border-box;
}

.header{
    background-color: #1d2126;

}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    margin: 0 -15px;
}

.header__row{
    align-items: center;
    padding: 25px 0;
}

.col-md-2{
    flex: 0 0 16.664%;
    max-width: 16.664%;
}

.col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-7{
    flex: 0 0 58.333%;
    max-width: 58.333%;
}

.col-md-8{
    flex: 0 0 66.666%;
    max-width: 66.666%;
}

[class*="col-"]{
    padding: 0 15px;
}

/* header menu */
.header__menu{
    display: flex;
    justify-content: end;
}

.header__link a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(164, 174, 173);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;
    margin-left: 15px;
    display: block;
    border: 2px solid transparent;
    transition-duration: .5s;
}

.header__link__active a {
    margin-left: 0;
    border: 2px solid #23b7a4;
    border-radius: 4px;
    color: #23b7a4;
    transition-duration: .5s;
}

.header__link a:hover{
    border: 2px solid #565c64;
    border-radius: 4px;
    transition-duration: .5s;
}

.header__link__active a:hover{
    color: rgb(164, 174, 173);
}

/* search */
.col-md-3__flex{
    display: flex;
    justify-content: end;
}

.col-md-8__with__paddings{
    flex: 0 0 calc(66.666% + 21px);
    max-width: calc(66.666% + 21px);
}

.header__search-form{
    margin: 0 -15px;
    display: flex;
    justify-content: end;
    border: 2px solid #3c4147;
    border-radius: 4px;
  
}

.header__search-form input{
    background-color: transparent;
    border: none;
    height: 28px; 
    padding-left: 8px;
    color: #a4aead;
    width: 155px;
}

.header__search-form input::placeholder{
    color: #a4aead;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.header__search-form input:focus{
    outline: none;
}

.header__search-form button{
    display: block;
    width: 100%;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-color: #1d2126;
    background-position: right;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* slider */
.slider{
    position: relative;
}

.slider img{
    max-width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slider__container{
    height: 100%;
}

.slider__row{
    flex: 0 0 100%;
    height: 100%;
}

.slider__info{
    position: relative;
    height: 100% ; 
    z-index: 20;   
    padding: 225px 0 250px 0;
}

.slider__info h1{
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.slider__info h2{
    padding: 35px 0 45px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(204, 208, 215);
}

.slider__buttons button{
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .5s;
}

.slider__view-more{
    padding: 15px 30px 15px 22px;
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

.slider__view-more:hover{
    background-color: transparent;
    color: #23b7a4;
    transition-duration: .5s;
}

.slider__video-tour{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 28px 15px 20px;
    margin-left: 8px;
}

.slider__video-tour:hover{
    color: #23b7a4;
    background-color: #fff;
    transition-duration: .5s;
}

main{
    height: 1000px;
}

/* adaptive */
@media(max-width:1170px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width:1023px){
    .container{
        max-width: 768px;
    }
    
    .col-sm-3__hidden{
        display: none;
    }

    .header__row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .header__menu{
        overflow-x: scroll;
        justify-content: start;
    }

    .header__logo{
        padding-bottom: 20px;
    }
}

@media(max-width:768px){
    .container{
        max-width: 425px;
    }

    .col-sm-2{
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-sm-7{
        flex: 0 0 66.667%;
        max-width: 66.667%;
    }

    .slider__info{ 
        padding: 125px 0 150px 0;
    }
    
    .slider__buttons{
        flex-direction: column;
    }

    .slider__video-tour{
        margin-left: 0px;
        margin-top: 8px;
    }
}

@media(max-width:424px){
    .container{
        max-width: 320px;
    }

    .col-sm-2{
        flex: 0 0 40%;
        max-width: 40%;
    }

    .col-sm-7{
        flex: 0 0 60%;
        max-width: 60%;
    }
}