*{
    box-sizing: border-box;
}

.header{
    background-color: #1d2126;

}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    margin: 0 -15px;
}

.header__row{
    align-items: center;
    padding: 25px 0;
}

.col-md-2{
    flex: 0 0 16.664%;
    max-width: 16.664%;
}

.col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-7{
    flex: 0 0 58.333%;
    max-width: 58.333%;
}

.col-md-8{
    flex: 0 0 66.666%;
    max-width: 66.666%;
}

[class*="col-"]{
    padding: 0 15px;
}

/* header menu */
.header__menu{
    display: flex;
    justify-content: end;
}

.header__link a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(164, 174, 173);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;
    margin-left: 15px;
    display: block;
    border: 2px solid transparent;
    transition-duration: .5s;
}

.header__link__active a {
    margin-left: 0;
    border: 2px solid #23b7a3;
    border-radius: 4px;
    color: #23b7a3;
    transition-duration: .5s;
}

.header__link a:hover{
    border: 2px solid #565c64;
    border-radius: 4px;
    border: 2px solid #565c64;
    transition-duration: .5s;
}

.header__link__active a:hover{
    color: rgb(164, 174, 173);
}

/* search */
.col-md-3__flex{
    display: flex;
    justify-content: end;
}

.col-md-8__with__paddings{
    flex: 0 0 calc(66.666% + 21px);
    max-width: calc(66.666% + 21px);
}

.header__search-form{
    margin: 0 -15px;
    display: flex;
    justify-content: end;
    border: 2px solid #3c4147;
    border-radius: 4px;
  
}

.header__search-form input{
    background-color: transparent;
    border: none;
    height: 28px; 
    padding-left: 8px;
    color: #a4aead;
    width: 155px;
}

.header__search-form input::placeholder{
    color: #a4aead;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.header__search-form input:focus{
    outline: none;
}

.header__search-form button{
    display: block;
    width: 100%;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-color: #1d2126;
    background-position: right;
    padding: 0;
    border: none;
    cursor: pointer;
}